management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/test
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME:myuser}
    password: ${DB_PASSWORD:secret}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
      generate_statistics: true
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VHOST:/}
    template:
      default-receive-queue: dummy
    listener:
      simple:
        default-requeue-rejected: false
        acknowledge-mode: manual
logging:
  level:
    root: INFO
    run.buildspace.crypto.price.reader: INFO
    org.springframework.amqp: INFO
    org.springframework.jdbc: DEBUG

  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
  docker:
    compose:
      file: productor/compose.yml


rabbitmq:
  exchange: cryptocurrencies
  currency-update-queue: currency-update
  currency-update-routing-bind: "#.price.update"
  subscription-queue: currency.subscription
  subscription-routing-bind: "currency.subscription.#"
  currency-error-update-queue: currency-update-error
  currency-error-update-routing-bind: "#.error"
  dead-letter-exchange: dead-letter-exchange
  dead-letter-queue: dead-letter-queue

binance:
  url: "wss://fstream.binance.com/ws"
  retry-max-attemps: 10
  retry-interval: 500
  retry-interval-multiplier: 2
  observability:
    web-socket-status-gauge: binance.websocket.status
    web-socket-status-description: "WebSocket connection status (1=UP, 0=DOWN)"
    web-socket-silence-gauge: binance.websocket.silence
    web-socket-silence-description: "Time since last message (in seconds)"
    web-socket-messages-processed-counter: binance.websocket.messages.processed
    web-socket-messages-ignored-counter: binance.websocket.messages.ignored




